@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Solitreo', cursiva;
} 

header {
    background-color: yellow;
}

header h1 {
    text-align: center;
    padding: 20px;
}

header h2 {
    text-align: center;
}

div#menu {
    background-color: yellow;
    text-align: center;
    cursor: pointer;
}

nav#itens {
    display: none;
    display: block;
    
}

nav > ul > li {
    text-decoration-style: none;
    
}

nav > ul > li > a {
    background-image: linear-gradient(to right, yellow, transparent);
    color: black;
}

main {
    background-color: yellow;
    width: 400px;
    height: 400px;
    margin: 20px auto 0px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

section {
    display: none;
    width: 350px;
    height: 350px;
    background-color: white;
    margin: 25px auto 0px auto;
    border-radius: 10px;
    overflow: hidden;
}

section#horasd {
    height: 370px;
}

img {
   position: relative;
   
   
}



