@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

:root{
    --fonte:'Solitreo', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte);
} 

/* CABEÇALHO */

header {
    background-color: black;
}

header h1 {
    font-family: var(--fonte1);
    text-align: center;
    padding: 20px;
    color: yellow;
    text-transform: uppercase;
}

h2{
    text-align: center;
    background-image: linear-gradient(to right, yellow, white 90%);
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 32px;
}

/* MENU */

div#menu {
    background-color: black;
    text-align: center;
    cursor: pointer;
}

div#menu > span {
    color: yellow;
    
}

nav#itens {
    display: none;
}

nav > ul > li {
    text-decoration-style: none;
    
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: yellow;
    background-color: black;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    font-weight: 900;
    text-transform: uppercase;
}


/* CORPO */

body {
    background-color: white;
    background-image: url('../imagens/js.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

main {
    background-color: yellow;
    width: 400px;
    height: 520px;
    margin: 20px auto 0px auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: none;
}

section {
    display: none;
    width: 350px;
    height: 475px;
    background-color: white;
    margin: 25px auto 0px auto;
    border-radius: 10px;
    overflow: hidden;
}

/*TABUADA */
section#tab > div > p > input[type=number]  {
    width: 50px;
    height: 30px;
    font-weight: bolder;
}

section#tab > div > p > input[type=button]  {
    font-weight: bolder;
    font-size: 20px;
}

section#tab > div > p {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

section#tab > div#restab {
    width: 150px;
    margin: 10px auto 0px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

/* CONTADOR */

section#cont > div {
    text-align: center;

}
section#cont > div > p > input[type=number] {
    width: 90px;
    height: 25px;
    margin-top: 5px;
}

section#cont > div > input[type=button] {
    margin-top: 5px;
    font-weight: bolder;
    font-size: 20px;
}

section#cont > div#rescont {
    font-size: 20px;
    font-weight: bolder;
}

section#cont > div.container  {
    overflow-y: scroll;
    height: 280px;
}

/* HORAS DO DIA */

section#horasd {
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

section#horasd > div > h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

section#horasd > div > p {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 3px;
    margin-top: 10px;
    text-align: center;
}

section#horasd > div > p > input[type=number]{
    margin-top: 5px;
    width: 50px;
    font-size: 20px;
}

section#horasd > div > P > input[type=button] {
    font-size: 20px;
    font-weight: bolder;
}

section#horasd > div#reshora {
    margin-top: 30px;
}

div#reshora > p#msg {
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 30px;
    margin-top: 20px;
}

/* ANALISADOR DE IDADE */

section#anaid > div#inputs {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 10px;
}

section#anaid > div#inputs > p > input[type=number] {
    width: 70px;
    height: 30px;
}

section#anaid > div#inputs > p input[type=radio]{
    margin-top: 10px;
   
}

section#anaid > div#inputs > input[type=button] {
    font-size: 20px;
    height: 30px;
    font-weight: bolder;
    margin-top: 10px;
}

section#anaid > p#msgid {
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    margin-top: 10px;
    text-align: justify;
}

section#anaid > div#residade {
    margin-top: 5px;
    padding-top: 3px;
}

/* ANALISADOR DE NÚMEROS */

section#ananu {
    width: 370px;
}

section#ananu > div#n > p {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
    text-align: center;
}

section#ananu > div#n {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

section#ananu > div#n > input[type=number]{
    height: 29px;
    width: 40px;
}

section#ananu > div#n > input[type=button]{
    font-size: 20px;
    font-weight: bolder;
}


section#ananu > div#msgnume {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    height: 380px;
    border: 1px solid black;
    float: right;
    font-size: 16px;
    font-weight: bolder;
}

section#ananu > div#resnume {
    margin-top: 10px;
    padding: 5px;
    width: 135px;
    height: 380px;
    border: 1px solid black;
    overflow-y: scroll;
    font-size: 16px;
    font-weight: bolder;
}

/* IMAGENS */

img {
    position: relative;

    left: 50%;
    transform: translate(-50%);
   
}

img#imgid {
    width: 50%;
}



