@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(110, 201, 110);
}

header {
    text-align: center;
    margin-top: 50px;
}
main {
    background-color: white;
    padding: 10px;
    margin: 20px auto 0px auto;
    width: 300px;
}

select {
    margin-top: 5px;
    
}