@charset "UTF-8";

body {
    font: normal 15px Arial;
    background-color: rgb(29, 63, 90);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

select#list {
    width: 175px;
    height: 120px;
    padding: 5px;
}

div#res {
    font-weight: bolder;
    
}



footer {
    color: white;
    text-align: center;
    font-style: italic;
}